.profile__container {
    width: 100%;
    margin-top: 22.25px;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

@media all and (min-width: 1279px) {
    .profile__container {
        max-width: 80%;
        margin-top: 0;
        justify-content: flex-start;
    }
}